@import '../../index.scss';
$size: 10rem;
.product {
  margin: 2rem 0;
  transition: all 0.3s linear;
  img {
    width: 100%;
    display: block;
    height: 260px;
  }
  &:hover {
    .addToCard-btn {
      background: #f96363;
      color: $mainWhite;
    }
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  text-align: center;
}
.img-container {
  position: relative;
}
.wrap-price {
  width: $size * 2;
  height: $size;
  background-color: #f96363;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -$size;
  border-top-left-radius: $size * 2;
  border-top-right-radius: $size * 2;
  opacity: 0.4;
  .product-price {
    position: relative;
    top: 5rem;
    color: $mainWhite;
  }
}
.product-info {
  padding: 1.5rem 1rem;
  h3 {
    text-transform: capitalize;
    color: $mainBlack;
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    margin: 0.4rem 0 0.6rem 0;
  }
}
.addToCard-btn {
  margin-bottom: 1rem;
  width: $size * 1.5;
  height: $size / 2;
  border-radius: 3rem;
  cursor: pointer;
  border: 1px solid $mainGrey;
  background: $mainWhite;
  text-transform: uppercase;
}
