* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
$mainBlack: #222;
$mainRed: #b90a27;
$mainWhite: #fff;
$mainGrey: #ececec;
body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: 'Open Sans', sans-serif;
}
